# conda create -n ldm python=3.10 -y
# conda install cudatoolkit=11.7 -c nvidia -c conda-forge -y
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
# conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia -y
albumentations
diffusers
einops
imageio
imageio-ffmpeg
invisible-watermark
kornia
numpy
omegaconf
opencv-python
pudb
pytorch-lightning
streamlit
test-tube
torch-fidelity
torchmetrics
transformers

# pip install -e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
# pip install -e git+https://github.com/openai/CLIP.git@main#egg=clip
# pip install -e .