# conda create -n ldm python=3.10 -y
# conda install cudatoolkit=11.7 -c nvidia -c conda-forge -y
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117

numpy
albumentations
diffusers
opencv-python
pudb
invisible-watermark
imageio
imageio-ffmpeg
pytorch-lightning
omegaconf
test-tube
streamlit
einops
torch-fidelity
transformers
torchmetrics
kornia

-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
-e .